@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Figtree", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5fa;
  background-size: 196px 256px;
  background-image: repeating-linear-gradient(
    to right,
    #f0f0f0,
    #f0f0f0 1.5px,
    #fafafa 1.5px,
    #fafafa
  );
}

@media screen and min-width(768px) {
  body {
    background-size: 256px 256px;
  }
}
